<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/users" routerLinkActive="active">Пользователи</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/userGroups" routerLinkActive="active">Группы</a>
      </li>     
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>