<h2>
  Таблица пользователей:
</h2>

<div class="table-responsive">
  <table class="table table-striped table-dark">
    <thead>
        <th>Фамилия:</th>
        <th>Имя:</th>
    </thead>
    <tr *ngFor="let user of users">
        <td>{{user.lastName}}</td>
        <td>{{user.firstName}}</td>
    </tr>
  </table>
  <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" pageSize="5" [(page)]="page" [boundaryLinks]="true" (pageChange)="onPageChanged($event)"></ngb-pagination>
  {{page}}
  
  </div>
