<h2>
  Таблица пользователей:
</h2>

<table>
  <tr>
      <th>Фамилия:</th>
      <th>Имя:</th>
  </tr>
  <tr *ngFor="let user of users">
      <td>{{user.lastName}}</td>
      <td>{{user.firstName}}</td>
  </tr>
</table>
<h3>Created on: {{usersService.creationDate | date:'dd.MM.yyyy &nbsp; HH:mm:ss.SSS'}}</h3>
<h3>Clicked {{usersService.clickCount}} times</h3>
<button (click)="usersService.increase()">Click</button>
