<h2>
  Список пользователей:
</h2>

<ul>
  <li *ngFor="let user of users">
     {{user.firstName }} {{user.lastName}} 
  </li>
</ul>
<h3>Created on: {{usersService.creationDate | date:'dd.MM.yyyy &nbsp; HH:mm:ss.SSS'}}</h3>
<h3>Clicked {{usersService.clickCount}} times</h3>
<button class="btn btn-secondary" (click)="usersService.increase()">Click</button>